html
  head
    title Server Configuration
  body
    h1 Server Configuration
    ul
      li Argumentos de entrada: #{info.argumentos_entrada}
      li Sistema operativo: #{info.SO}
      li Versión de Node: #{info.version_node}
      li RSS: #{info.RSS}
      li PATH de ejecución: #{info.PATH_de_ejecucion}
      li ID de proceso: #{info.PROCESS_ID}
      li Carpeta del proyecto: #{info.Carpeta_del_proyecto}
      li Número de procesadores: #{info.numero_de_procesadores}
